
:root {
  --dark-blue: #216490;
  --light-blue: #399de5;
  --light-gray: #d3d3d3;
  --dark-gray: #9eb1bb;
  --white: #ffffff;
  --box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  --project-font: "Open sans", sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}
/* styling header */
nav {
  background-color: #399de5;
}
nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  padding: 15px 25px;
  font-size: 20px;
}
.logo {
  background-color: #216490;
  margin-left: -40px;
}

/* styling footer */
.light-blue-footer {
  background-color: #399de5;
  padding: 30px 10px;
  font-family: var(--project-font);
}

.dark-blue-footer {
  background-color: #216490;
  padding: 20px 10px;
}

.white-font {
  color: #ffffff;
  font-family: var(--project-font);
}

body {
    background-color: #F5F7F8;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;

}

/* Left Colomn */

/* Profile */
.profile {
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: ffffff;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 5px;
}

.profile h3 {
    font-weight: 400;
}

.profile .avatar img {
    border-radius: 50%;
}

.profile hr {
    width: 300px;
}

.profile-description {
    text-align: left;
    padding: 0 20px;
}

.profile-description ion-icon {
    padding-right: 20px;
}

.profile-description p {
    font-weight: 300;
}

/* Accordion */
.accordion {
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 5px;
}

.accordion p {
    padding-left: 20px;
    font-weight: 300;
}

.accordion-buttons {
    background-color: #399DE5;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    text-align: left;
    font-size: 15px;

}

.accordion-buttons ion-icon {
    padding-right: 20px;
}

.accordion-buttons:hover {
    background-color: #d3d3d3;
    color: #000000;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.photos img {
    width: 47%;
}

/* Interests */
.interests {
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    padding: 10px 20px;
}

.interests-buttons {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    gap: 10px;
    font-size: 15px;
    font-weight: 100;
}

.interests-buttons span {
    padding: 0 5px;
}

.darkblue-button {
    color: #ffffff;
    background-color: #216490;
}

.blue-button {
    color: #ffffff;
    background-color: #399DE5;
}

.darkgrey-button {
    background-color: #9EB1BB;
}

.grey-button {
    background-color: #BECBD2;
}

.lightgrey-button {
    background-color: #DFE5E8;
}

.verylightgrey-button {
    background-color: #F5F7F8;
}

/* Alert Box */
.alert-box {
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: #DFE5E8;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    padding: 10px 20px;
    position: relative;
}

.close-button {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    font-size: 20px;
    padding: 5px 10px;
    background-color: #becbd2;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.close-button:hover {
    background-color: #9EB1BB
}
